{% extends 'root.html' %}
{% block title %}
    круизы
{% endblock %}
{%  block content %}
    {% include 'header.html' with selected_cruise=True %}<br>
    {% include 'button_back.html' with button='круизов' path='/cruise/list' %}
    <h3>Изменить данные о круизе</h3>
    <div class="list">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="inputbutton">
        </form>
    </div>
{% endblock %}