{% extends 'root.html' %}
{% block title %}
    лайнеры
{% endblock %}
{%  block content %}
{% include 'header.html' with selected_liner=True %}
<div>
    {% include 'button_add.html' with title='Список всех лайнеров' path='/liner/new' button='лайнер' %}
    <div class="list">
        {% for data in dataset %}
        Название: {{ data.name }}<br/>
        Регистрационный номер: {{ data.number }}<br/>
        Кол-во членов команды: {{ data.team }}<br/>
        Стоимость билетов: {{ data.tickets }}<br/><br/>
        {% if access %}
        <a class="btn_add" href="http://127.0.0.1:8000/liner/{{ data.id }}/update">Изменить</a>
        <a class="btn_add" href="http://127.0.0.1:8000/liner/{{ data.id }}/delete">Удалить</a>
        {% endif %}
        <hr/>
        {% endfor %}
    </div>
</div>
{% endblock %}